// ID_NAME          TYPE        PATH_TO_FILE
ID_SND_BEEP1        RCDATA      "./sounds/Beep1.wav"
ID_SND_BEEP2        RCDATA      "./sounds/Beep2.wav"
ID_SND_DIGI         RCDATA      "./sounds/DigiLoad.mp3"
ID_SND_HIT          RCDATA      "./sounds/Hit.wav"
ID_SND_MUSIC        RCDATA      "./sounds/MenuMusic.mp3"
ID_SND_GUN          RCDATA      "./sounds/SpaceGun.mp3"
ID_SND_WOONG        RCDATA      "./sounds/Woong1.wav"
ID_SND_WIZARD       RCDATA      "./models/Wizard.glb"
ID_SND_LIGHTSHADERV RCDATA      "./shaders/lighting.vs"
ID_SND_LIGHTSHADERF RCDATA      "./shaders/lighting.fs"
